[class*="attr-sort"]:before {
  font-family: "FontAwesome";
  cursor: pointer;
  margin-right: 5px;
}

.attr-sortable:before {
  content: "\f0dc";
  color: #ddd;
}

.attr-sort-desc:before {
  content: "\f0dd";
}

.attr-sort-asc:before {
  content: "\f0de";
}