.cf-panzoom {
  position: absolute;
  bottom: 115px;
  line-height: 1;
  color: #666;
  font-size: 12px;
  z-index: 1000;
  box-sizing: content-box;
}

.cf-panzoom-zoom-button {
  cursor: pointer;
  padding: 3px;
  text-align: center;
  position: absolute;
  border-radius: 3px;
  width: 10px;
  height: 10px;
  left: 16px;
  background: #fff;
  border: 1px solid #999;
  margin-left: -1px;
  margin-top: -1px;
  z-index: 1;
  box-sizing: content-box;
}

.cf-panzoom-zoom-button:active,
.cf-panzoom-slider-handle:active,
.cf-panzoom-slider-handle.active {
  background: #ddd;
  box-sizing: content-box;
}

.cf-panzoom-pan-button {
  position: absolute;
  z-index: 1;
  height: 16px;
  width: 16px;
  box-sizing: content-box;
}

.cf-panzoom-reset {
  top: 55px;
  box-sizing: content-box;
}

.cf-panzoom-zoom-in {
  top: 80px;
  box-sizing: content-box;
}

.cf-panzoom-zoom-out {
  top: 197px;
  box-sizing: content-box;
}

.cf-panzoom-pan-up {
  top: 0;
  left: 50%;
  margin-left: -5px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #666;
  box-sizing: content-box;
}

.cf-panzoom-pan-down {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #666;
  box-sizing: content-box;
}

.cf-panzoom-pan-left {
  top: 50%;
  left: 0;
  margin-top: -5px;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #666;
  box-sizing: content-box;
}

.cf-panzoom-pan-right {
  top: 50%;
  right: 0;
  margin-top: -5px;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #666;
  box-sizing: content-box;
}

.cf-panzoom-pan-indicator {
  position: absolute;
  left: 0;
  top: 0;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background: #000;
  margin-left: -5px;
  margin-top: -5px;
  display: none;
  z-index: 999;
  opacity: 0.6;
  box-sizing: content-box;
}

.cf-panzoom-slider {
  position: absolute;
  top: 97px;
  left: 17px;
  height: 100px;
  width: 15px;
  box-sizing: content-box;
}

.cf-panzoom-slider-background {
  position: absolute;
  top: 0;
  width: 2px;
  height: 100px;
  left: 5px;
  background: #fff;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
  box-sizing: content-box;
}

.cf-panzoom-slider-handle {
  position: absolute;
  width: 16px;
  height: 8px;
  background: #fff;
  border: 1px solid #999;
  border-radius: 2px;
  margin-left: -2px;
  z-index: 999;
  line-height: 8px;
  cursor: default;
  box-sizing: content-box;
}

.cf-panzoom-slider-handle .icon {
  margin: 0 4px;
  line-height: 10px;
  box-sizing: content-box;
}

.cf-panzoom-no-zoom-tick {
  position: absolute;
  background: #666;
  border: 1px solid #fff;
  border-radius: 2px;
  margin-left: -1px;
  width: 8px;
  height: 2px;
  left: 3px;
  z-index: 1;
  margin-top: 3px;
  box-sizing: content-box;
}

.cf-panzoom-panner {
  position: absolute;
  left: 5px;
  top: 5px;
  height: 40px;
  width: 40px;
  background: #fff;
  border: 1px solid #999;
  border-radius: 40px;
  margin-left: -1px;
  box-sizing: content-box;
}

.cf-panzoom-panner-handle {
  position: absolute;
  left: 0;
  top: 0;
  outline: none;
  height: 40px;
  width: 40px;
  z-index: 999;
  box-sizing: content-box;
}

.cf-panzoom-zoom-only .cf-panzoom-slider,
.cf-panzoom-zoom-only .cf-panzoom-panner {
  display: none;
}

.cf-panzoom-zoom-only .cf-panzoom-reset {
  top: 20px;
}

.cf-panzoom-zoom-only .cf-panzoom-zoom-in {
  top: 45px;
}

.cf-panzoom-zoom-only .cf-panzoom-zoom-out {
  top: 70px;
}