<nav class="navbar navbar-dark bg-primary flex-row">
  <img src="assets/icon256.svg" height="32" width="32" class="mr-2" />
  <a class="navbar-brand" [routerLink]="['/']" title="Go to executions list">
    <i class="fa fa-list"></i> CloudFlow
  </a>


  <ul class="navbar-nav ml-auto flex-row">
    <li class="nav-item">
      <a class="nav-link p-2 pointer" (click)="about()">About</a>
    </li>

  </ul>

</nav>

<div class="container-fluid main-container p-0">

  <router-outlet></router-outlet>

</div>