<div class="p-3 h-100" *ngIf="execution">
  <div class="d-flex flex-column">
    <div class="info-item">
      <h6>Workflow:</h6>
      {{execution.workflow_name}}
    </div>

    <div class="info-item">
      <h6>State:</h6>
      <span class="badge font-weight-normal" [ngClass]="execution.state">{{execution.state}}</span>
    </div>

    <div class="d-flex flex-row">
      <div class="info-item flex-1-1-auto">
        <h6>Started:</h6>
        {{execution.created_at}}
      </div>

      <div class="info-item flex-1-1-auto">
        <h6>Ended:</h6>
        {{execution.updated_at}}
      </div>
    </div>

    <div class="info-item">
      <h6>Workflow ID:</h6>
      {{execution.workflow_id}}
    </div>

    <div class="info-item">
      <h6>Execution ID:</h6>
      {{execution.id}}
    </div>

    <div class="info-item">
      <h6>State Info:</h6>
      <codemirror [input]="execution.state_info" [config]="{readonly: true, mode: 'text'}" class="cm-mxh-150"></codemirror>
    </div>

    <div class="info-item">
      <h6>Input:</h6>
      <codemirror [input]="execution.input" [config]="{readonly: true, mode: 'json'}" class="cm-mxh-150"></codemirror>
    </div>

    <div class="info-item">
      <h6>Output:</h6>
      <codemirror [input]="execution.output" [config]="{readonly: true, mode: 'json'}" class="cm-mxh-150"></codemirror>
    </div>

  </div>
</div>