<div class="p-3 mb-1" *ngIf="execution">

    <div class="d-flex flex-column">

        <!-- workflow name -->
        <cf-info-item [prop]="properties['workflow_name']"></cf-info-item>

        <!-- id -->
        <cf-info-item [prop]="properties['id']"></cf-info-item>

        <!-- workflow id -->
        <cf-info-item [prop]="properties['workflow_id']"></cf-info-item>

        <!-- state / state_info -->
        <div class="d-flex flex-row mb-4">
            <cf-info-item class="flex-0-0-15" [prop]="properties['state']"></cf-info-item>
            <cf-info-item class="flex-1-1-auto mnw-0" [prop]="properties['state_info']"></cf-info-item>
        </div>

        <!-- created_at / updated_at -->
        <div class="d-flex flex-row">
            <cf-info-item class="flex-1-1-auto" [prop]="properties['created_at']"></cf-info-item>
            <cf-info-item class="flex-1-1-auto" [prop]="properties['updated_at']"></cf-info-item>
        </div>

        <!-- input -->
        <cf-info-item [prop]="properties['input']"></cf-info-item>

        <!-- output -->
        <cf-info-item [prop]="properties['output']"></cf-info-item>

        <!-- params -->
        <cf-info-item [prop]="properties['params']"></cf-info-item>
    </div>

</div>