<div class="container d-flex justify-content-center align-items-center">
  <div class="card-deck">
    <div class="card text-center pointer card-shadow" [routerLink]="['/search']">
      <div class="card-header">
        <i class="fa fa-4x fa-search text-primary"></i>
      </div>
      <div class="card-body">
        <h2 class="card-title">Search by ID</h2>
        <p class="card-text">Search by entity ID</p>
      </div>
    </div>

    <div class="card text-center pointer card-shadow" [routerLink]="['/executions']">
      <div class="card-header">
        <i class="fa fa-4x fa-sitemap text-primary"></i>
      </div>
      <div class="card-body">
        <h2 class="card-title">Recent Executions</h2>
        <p class="card-text">Browse recent executions</p>
      </div>
    </div>
  </div>
</div>