<div class="container d-flex justify-content-center align-items-center">
  <div class="card-deck">
    <div class="card text-center pointer" [routerLink]="['/search']">
      <div class="card-body">
        <i class="fa fa-4x fa-search text-success"></i>
        <h2>Search by entity ID</h2>
      </div>
    </div>

    <div class="card text-center pointer" [routerLink]="['/executions']">
      <div class="card-body">
        <i class="fa fa-4x fa-list text-primary"></i>
        <h2>Browse recent executions</h2>
      </div>
    </div>
  </div>
</div>